## Tuples

strings: characters in a sequence, immutable                list: elements in a sequence, mutable

                            tuples: elements in a sequence, immutable

tuples are sequences, like lists, but they
are immutable, like strings.

In [15]:
# A 4-item tuple. Uses regular parentheses.
T = (1, 2, 3, 4)

In [16]:
# Length
len(T)

4

In [3]:
# Concatenation
T + (5, 6)

(1, 2, 3, 4, 5, 6)

In [17]:
T

(1, 2, 3, 4)

In [5]:
# Indexing, slicing, and more
T[0]

1

In [6]:
#Tuples are immutable The primary distinction for tuples is that they cannot be changed once created. That
# is, they are immutable sequences
T[0] = 2

TypeError: 'tuple' object does not support item assignment

In [18]:
# Make a new tuple for a new value. In order for it to be a tuple, it must have a comma at the end. 
T = (2,) + T[1:]

T

(2, 2, 3, 4)

Like lists and dictionaries, tuples support mixed types and nesting, but they don’t grow and shrink because they are immutable (the parentheses enclosing a tuple’s items can usually be omitted, as done here):

In [19]:
T = 'spam', 3.0, [11, 22, 33]   #list requires []

In [20]:
T[1:]

(3.0, [11, 22, 33])

In [21]:
T[2][1]

22

In [22]:
T

('spam', 3.0, [11, 22, 33])

In [25]:
T[2][1] = 14 #This works becuase you are changing the list, which is mutable.
T

('spam', 3.0, [11, 14, 33])

In [26]:
T[2].sort(reverse=True) #This works becuase you are changing the list, which is mutable.
T

('spam', 3.0, [33, 14, 11])

In [27]:
T.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
T[1] = 4.0

TypeError: 'tuple' object does not support item assignment

In [29]:
help(T)

Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# Ch5: Numeric Types

Let’s get started by exploring our first data type category: Python’s numeric types and operations.

## Variables and Basic Expressions

let’s exercise some basic math. In the following interaction, we first assign
two variables (a and b) to integers so we can use them later in a larger expression. Variables
are simply names—created by you or Python—that are used to keep track of information in your program. We’ll say more about this in the next chapter, but in Python:

* Variables are created when they are first assigned values.
* Variables are replaced with their values when used in expressions.
* Variables must be assigned before they can be used in expressions.
* Variables refer to objects and are never declared ahead of time.

In [31]:
# Name created not declared ahead of time
a = 3
b = 4

In [32]:
# Addition (3 + 1), subtraction (3 − 1)
a + 1, a - 1

(4, 2)

In [33]:
# Multiplication (4 * 3), division (4 / 2)
b * 3, b / 2

(12, 2.0)

In [34]:
# Modulus (remainder), power (4 ** 2)
a % 2, b ** 2

(1, 16)

In [36]:
a = 21 // 4 #integer division

a

5

In [37]:
b = 21 % 4 #remainder

b

1

In [35]:
# Mixed-type conversions
2 + 4.0, 2.0 ** b

(6.0, 16.0)

In [38]:
type(2)

int

In [39]:
type(4.0)

float

In [40]:
type(2 + 4.0)

float

In [41]:
# calling a undefined object
c * 2

NameError: name 'c' is not defined

In [42]:
# Same as (4/2) + 3
b / 2 + a

5.5

In [43]:
# Same as 4 / (2+3)
b / (2 + a)

0.14285714285714285

## Numeric Display Formats

In [44]:
num = 1 / 3.0

In [45]:
print(num)

0.3333333333333333

In [46]:
# String formatting Expression
'%e' %num #exponential notation

'3.333333e-01'

In [47]:
# Alternative floating-point format
'%.2f' %num #round to 2 decimal places

'0.33'

In [48]:
'%.4f' %num

'0.3333'

In [49]:
# newer format
'{0:0.4f}'.format(num) #go to index 0 (num), 0 means python start where you want and round to 4 decimal places

'0.3333'

In [50]:
'{0:.6f}'.format(3.141592653589793)

'3.141593'

In [51]:
'{:.6f}'.format(3.141592653589793)

'3.141593'

In [52]:
format(0.3333333333,"0.2f")

'0.33'

In [53]:
format(0.3333333333,">10.2f") #right align by 10 spaces; 2 decimal places

'      0.33'

In [54]:
format(0.3333333333,"<10.2f") #left align by 10 spaces; 2 decimal places

'0.33      '

In [55]:
format(0.3333333333,"^10.2f") #center align by 10 spaces; 2 decimal places

'   0.33   '

In [56]:
x = 1000000000

In [57]:
x

1000000000

In [58]:
y = format(x, ",")

In [59]:
x

1000000000

In [60]:
type(x)

int

In [61]:
y

'1,000,000,000'

In [62]:
type(y)

str

In [63]:
int(y)

ValueError: invalid literal for int() with base 10: '1,000,000,000'

## Comparisons: Normal and Chained

Normal comparisons compare the relative magnitudes their operands and return a Boolean result, which we would normally test and take action on in a larger statement and program:

In [70]:
# less than
1 < 2

True

In [71]:
# Greater than or equal: mixed-type 1 converted to 1.0
2.0 > 1

True

In [72]:
# Equal value
2 == 2.0     #different than x = 2

True

In [73]:
# Not equal value
2.0 != 2

False

In [74]:
2.0 == 2

True

In [76]:
2.0 is 2 #False, because it is not the same type

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Jcwil\AppData\Local\Temp\ipykernel_36392\1266763890.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2.0 is 2 #False, because it is not the same type

False

In [77]:
X = 2
Y = 4
Z = 6

In [78]:
# Chained comparisons: range tests
X < Y < Z

True

In [79]:
X < Y and Y < Z   #and, or, not

True

In [80]:
X < Y > Z

False

In [81]:
X < Y and Y > Z

False

In [82]:
1.1 + 2.2

3.3000000000000003

In [83]:
# Shouldn't this be True?...
1.1 + 2.2 == 3.3

False

floating-point numbers may not always work as you’d expect, and may require conversions or other massaging to be compared meaningfully.

In [84]:
1.1 + 2.2

3.3000000000000003

In [88]:
int(1.1 + 2.2) == int(3.3) #True; convert to int before comparing

True

In [86]:
int(3.3)

3

In [87]:
int(1.1 + 2.2)

3

## Bitwise operations

Python supports operators that treat integers as strings of binary bits. This can come in handy if your Python code must deal with things like network packets, serial ports, or packed binary data produced by a C program.

In [89]:
# 1 decimal is 0001 in bits
x = 1

0001

0100

In [92]:
# Shift left 2 bits
# x = 1 so shift left 2 means 100 -> 4
x << 2

4

In [93]:
# Shift left 2 bits
# y = 1 so shift left 2 means 100 -> 4
x << 2

4

In [94]:
# Shift left 2 bits
# y = 240 -> 11110000 so shift left 2 means 0000 11110000 -> 00 111100 0000
y = 240
y << 2

960

In [95]:
# Shift right 2 bits
# y = 240 -> 11110000 so shift right 2 means 1111 0000 -> 111100
y = 240
y >> 2

60

In [96]:
x = 5

In [97]:
x >> 2

1

0001

0010

OR: 0011

In [ ]:
x = 3

In [ ]:
# Bitwise OR (either bit=1)
x | 2

In [ ]:
# Bitwise AND (both bits=1)
x & 1

In [ ]:
3 & 5 # 011 & 101 = 001

In [ ]:
bin(4)

In [ ]:
type(bin(4))

Here, the 0b prefix indicates the number is being displayed in binary

In [ ]:
# Binary literals
X = 0b0001

In [ ]:
X

In [ ]:
# Shift left
X << 3

In [ ]:
# Binary digits string
bin(X << 2)

In [ ]:
X

In [ ]:
# Bitwise OR: either
bin(X | 0b010)

In [ ]:
# Bitwise AND: both
bin(X & 0b1)

You can use ``bit_length`` method to query the number of bits required to represent a number’s value in binary.

In [ ]:
X.bit_length?

In [ ]:
X = 8 # 1000
bin(X), X.bit_length(), len(bin(X)) - 2

In [ ]:
27 >> 3

## Other Built-in Numeric Tools

In addition to its core object types, Python also provides both built-in functions and standard library modules for numeric processing.

In [ ]:
import math

In [ ]:
dir(math)

In [ ]:
# Common constants
math.pi, math.e

In [ ]:
pi

In [ ]:
# Sine, tangent, cosine
math.sin(2 * math.pi / 180)

In [ ]:
math.sin(2* math.pi / 4)

In [ ]:
math.degrees(2*math.pi)

In [ ]:
math.sin(math.radians(90))

In [ ]:
# Square root
math.sqrt(144), math.sqrt(2) #2 ** (0.5)

In [ ]:
# Exponentiation (power)
pow(2, 4), 2 ** 4, 2.0 ** 4.0

In [ ]:
pow(5, 3)

In [ ]:
math.pow(5, 3)

In [ ]:
import math
# Absolute value, summation
abs(-42.0), sum((1, 2, 3, 4))

In [ ]:
sum((1,2,3, 4))

In [ ]:
# Minimum, maximum
min(3, 1, 2, 4), max(3, 1, 2, 4)

In [ ]:
# Floor (next-lower integer)
math.floor(2.567), math.floor(-2.567)

In [ ]:
# Truncate (drop decimal digits)
math.trunc(2.567), math.trunc(-2.567)

In [ ]:
# Truncate (integer conversion)
int(2.567), int(-2.567)

In [ ]:
round?

In [ ]:
# Round 
round(2.567), round(2.467), round(2.567, 2)

Interestingly, there are three ways to compute square roots in Python: using a module function, an expression, or a built-in function.

In [ ]:
import math

In [ ]:
# Module
math.sqrt(144)

In [ ]:
# Expression
144 ** 0.5

In [ ]:
# Built-in
pow(144, .5)

Notice that standard library modules such as math must be imported, but built-in functions such as abs and round are always available without imports. In other words, modules are external components, but built-in functions live in an implied namespace that Python automatically searches to find names used in your program.

In [ ]:
import time

In [ ]:
start_time = time.time()

[math.sqrt(144) for i in range(10000)]

end_time = time.time()
print("Elapsed time to run math.sqrt(144) was: ",
      end_time - start_time, " seconds")

In [ ]:
start_time = time.time()

[144 ** .5 for i in range(10000)]

end_time = time.time()
print("Elapsed time to run 144 ** .5) was: ",
      end_time - start_time, " seconds")

In [ ]:
start_time = time.time()

[pow(144, .5) for i in range(10000)]

end_time = time.time()
print("Elapsed time to run pow(144, .5)) was: ",
      end_time - start_time, " seconds")

The standard library random module must be imported as well. This module provides an array of tools, for tasks such as picking a random floating-point number between 0 and 1, and selecting a random integer between two numbers:

In [ ]:
import random

In [ ]:
random.random?

In [ ]:
random.random()

In [ ]:
random.random()

In [ ]:
random.seed(1000)

In [ ]:
random.random()

In [ ]:
random.random()

In [ ]:
random.seed(1000)

In [ ]:
random.random()

In [ ]:
random.random()

In [ ]:
random.randint(1, 10)

In [ ]:
random.randint(1, 10)

This module can also choose an item at random from a sequence, and shuffle a list of items randomly:

In [ ]:
#list
random.choice(['Life of Brian', 'Holy Grail', 'Meaning of Life'])

In [ ]:
#tuple
random.choice(('Life of Brian', 'Holy Grail', 'Meaning of Life'))

In [ ]:
random.choice(('Life of Brian', 'Holy Grail',
               'Meaning of Life'))

In [ ]:
suits = ['hearts', 'clubs', 'diamonds', 'spades']

In [ ]:
random.shuffle(suits) #in-place

In [ ]:
suits

## Sets

The set— an **unordered** collection of **unique** and **immutable** objects that supports operations corresponding to mathematical set theory. By definition, an item appears only once in a set, no matter how many times it is added. Accordingly, sets have a variety of applications, especially in numeric and database-focused work. a set acts much like the keys of a valueless dictionary, but it supports extra operations.

In [ ]:
# Built-in call (all)
set([1, 2, 3, 4, 4])

In [ ]:
set('spam')

In [ ]:
S = {'s', 'p', 'a', 'm'}

In [ ]:
S

In [ ]:
S.add('alot')

In [ ]:
S

In [ ]:
S1 = {1, 2, 3, 4}

In [ ]:
# Intersection
S1 & {1, 3}

In [ ]:
S1

In [ ]:
# Union
{1, 5, 3, 6} | S1

In [ ]:
# Difference
S1 - {1, 3, 4}

In [ ]:
# super set
S1 > {1, 3}

Sets can only contain **immutable** (a.k.a. “hashable”) object types. Hence, lists and dictionaries cannot be embedded in sets, but tuples can if you need to store compound values.

In [ ]:
S = set()
S.add(1.23)

In [ ]:
S

In [ ]:
# Only immutable objects work in a set
S.add([1, 2, 3])

In [ ]:
S.add({'a':1})

In [ ]:
S.add((1, 2, 3))

In [ ]:
# No list or dict, but tuple OK
S

In [ ]:
# Union: same as S.union(...)
S | {(4, 5, 6), (1, 2, 3), 1}

In [ ]:
S.add(([1,2], "ab"))

In [ ]:
S

In [ ]:
# Membership: by complete values
(1, 2, 3) in S

In [ ]:
(1, 4, 3) in S

In [ ]:
# Set comprehension
{x ** 2 for x in [1, 2, 3, 4, 4]}

In [ ]:
# Same as: set('spam')
{x for x in 'spam'}

In [ ]:
#number of items in the list is 5 because there is repeation
{c * 4 for c in 'spamham'}

In [ ]:
S | {'mmmm', 'xxxx'}

In [ ]:
 S & {'mmmm', 'xxxx'}

Set operations have a variety of common uses, some more practical than mathematical. For example, because items are stored only once in a set, sets can be used to filter duplicates out of other collections, though items may be reordered in the process because sets are unordered in general. Simply convert the collection to a set, and then convert it back again

In [ ]:
L = [1, 2, 1, 3, 2, 4, 5]
set(L)

In [ ]:
# Remove duplicates
L = list(set(L))
L

In [ ]:
# But order may change
list(set(['yy', 'cc', 'aa', 'xx', 'dd', 'aa']))

Sets can be used to isolate differences in lists, strings, and other iterable objects too— simply convert to sets and take the difference—though again the unordered nature of sets means that the results may not match that of the originals.

In [ ]:
# Find list differences
set([1, 3, 5, 7]) - set([1, 2, 4, 5, 6])

In [ ]:
# Find string differences
set('abcdefg') - set('abdghij')

You can also use sets to perform order-neutral equality tests by converting to a set before the test, because order doesn’t matter in a set. For instance, you might use this to compare the outputs of programs that should work the same but may generate results in different order. Sorting before testing has the same effect for equality, but sets don’t rely on an expensive sort, and sorts order their results to support additional magnitude tests that sets do not.

In [ ]:
L1, L2 = [1, 3, 5, 2, 4], [2, 5, 3, 4, 1]

In [ ]:
# Order matters in sequences
L1 == L2

In [ ]:
# Order-neutral equality
set(L1) == set(L2)

In [ ]:
# Similar but results ordered
sorted(L1) == sorted(L2)

In [ ]:
start_time = time.time()

x = [set(L1) == set(L2) for i in range(10000)]

end_time = time.time()
elapsed_time = end_time - start_time
print("Elapsed time for set(L1) == set(L2) is",
      '{0:0.4f}'.format(elapsed_time))

In [ ]:
start_time = time.time()

x = [sorted(L1) == sorted(L2) for i in range(10000)]

end_time = time.time()
elapsed_time = end_time - start_time
print("Elapsed time for sorted(L1) == sorted(L2) is",
      '{0:0.4f}'.format(elapsed_time))

Sets are also convenient when you’re dealing with large data sets (database query results, for example)—the intersection of two sets contains objects common to both categories, and the union contains all items in either set.

In [ ]:
engineers = {'bob', 'sue', 'ann', 'vic'}
managers = {'tom', 'sue'}

In [ ]:
# Is bob an engineer?
'bob' in engineers

In [ ]:
# Who is both engineer and manager?
engineers & managers

In [ ]:
# All people in either category
engineers | managers

In [ ]:
# Engineers who are not managers
engineers - managers

In [ ]:
# Managers who are not engineers
managers - engineers

In [ ]:
# Are all managers engineers? (superset)
engineers > managers

In [ ]:
# Are both engineers? (subset)
{'bob', 'sue'} < engineers

In [ ]:
# Who is in one but not both?
managers ^ engineers

In [ ]:
(managers | engineers) - (managers ^ engineers)

## Booleans

Python today has an explicit Boolean data type called **bool**, with the values True and False available as preassigned built-in names. Internally, the names True and False are instances of bool, which is in turn just a subclass (in the object- oriented sense) of the built-in integer type int. True and False behave exactly like the integers 1 and 0, except that they have customized printing logic— they print themselves as the words True and False, instead of the digits 1 and 0.

In [ ]:
type(True)

In [ ]:
isinstance(True, bool)

In [ ]:
isinstance(True, int)

In [ ]:
# The operator == compares values of both the operands
# and checks for value equality.
True == 1

In [ ]:
# is operator checks whether both the operands refer to
# the same object or not. Ture and 1 are different type object in the OS memory
True is 1

In [ ]:
True or False